body {
    background-color: black;
}



.mainmenu {

         font-size: larger;
            font-family: "Comic Sans MS", cursive, sans-serif;
            font-weight: bold;
            color: white;
            background-color: black;
            border: none;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            width: 100px;
            position: relative;

      

}



.button1 {font-size: 24px;}


